{
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-sh"],
	"printWidth": 100,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"singleAttributePerLine": true,
	"trailingComma": "none",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.{yml,yaml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.jsonc",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	],
	"tabWidth": 4
}
